body
{
    background-color: rgb(213, 213, 211);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin: 0x;
}

.centering
{
    text-align: center;
}

.reset
{
    clear: both;
}

.textLeft
{
    margin-left: 10%;
    width: 400px;
}

.highlight
{
    color: rgb(208, 0, 0);
}

#deanDescription
{
    float: left;
    width: 500px;
}

#meme
{
    float: left;
    width: 333px;
}

#plant
{
   float: left; 
   width: 330px;  
}

#hobbyList
{
    float: left;
    width: 200px;
}

#pictureNsocials
{
    float: left;
}

#pageContainer
{
    width: 1000;
}

#leftSide
{
    float: left;
}