body
{
background-color: rgb(177, 196, 6);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

#mainHeading 
{
color: rgb(81, 215, 171);
}

.highlight
{
    color: rgb(208, 0, 0);
}